<form id="findBeerForm">

  <div class="form-group">
    <label>Search by Name:</label>
    <input type="text" name="[name]" placeholder="Name" class="form-control name">
  </div>

  <input type="submit" class="button btn btn-default" name="submit">

</form>
