
<form id="updateBeer" data-id="{{beer.id}}">
  <fieldset>

    <label>Name</label>
    <input type="text" name="[beer][name]" placeholder="Name">

    <label>Brand</label>
    <input type="text" name="[beer][brand]" placeholder="Brand">

    <label>Style</label>
    <input type="text" name="[beer][style]" placeholder="Style">

    <label>Alc Content</label>
    <input type="number" name="[beer][alc]" placeholder="Alc Content">

    <label>Price</label>
    <input type="number" name="[beer][price]" placeholder="Price">

    <input type="submit" class="button" name="submit" value="Update Beer">
  </fieldset>
</form>
