$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: rgb(0, 144, 172);
$font-color: #fff;
$error-font: red;
$white: #fff;
$accent-color: rgb(233, 29, 99);
// rgb(233, 29, 99) pink
// rgb(0, 144, 172) blue

body {
  background-color: $background-color;
  color: $font-color;
}

// NEW STUFF
.fill {
  min-height: 100%;
  height: 100%;
}
.navbar {
   background-color: $accent-color;
   margin-bottom: 0;
   border-radius: 0;
 }
h1 {
   color: white;
   font-size: 16px;
   padding-right: 20px;
 }

 /* Add a gray background color and some padding to the footer */
 footer {
   background-color: $accent-color;
   padding: 25px;
 }
.carousel-inner img {
   width: 100%; /* Set width to 100% */
   margin: auto;
   max-height: 240px;
   min-height:150px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
 .carousel-caption {
   display: none;
 }
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

#create-account-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#create-account-dp .help-block{
    font-size:12px
}
#create-account-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#create-account-dp .form-group {
    margin-bottom: 10px;
}
// change-password
// #change-password-dp {
//   display: none;
// }
.change-password-dp-nav {
  display: none;
}
#change-password-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#change-password-dp .help-block{
    font-size:12px
}
#change-password-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#change-password-dp .form-group {
    margin-bottom: 10px;
}
#log-out {
  display: none;
  min-width: 100px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: $accent-color;
}
#log-out .help-block{
    font-size:12px
}
#log-out .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#log-out .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    #create-account-dp{
        background-color: inherit;
        color: #fff;
    }
    #create-account-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    #change-password-dp{
        background-color: inherit;
        color: #fff;
    }
    #change-password-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

// OLD STUFF
// .authforms {
//   clear: both;
// }
.errormsg {
  clear: both;
  color: red;
}
.successmsg {
  clear: both;
  color: green;
}
button {
  border: none;
  color: white;
  padding: 9px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

// .signout-button {
//   display: none;
// }
// #changepwbutton {
//   display: none;
// }
form {
  margin-bottom: 20px;
}
legend {
  background-color: $background-color;
  color: $font-color;
}
input, select, textarea {
  color: black;
}
.changepwmsg {
  display: none;
  color: green;
}
.yourBeers {
  display: none;
}
.beerItem {
  font-size: 14px;
}
#addBeer {
  display: none;
}
.beerListTitle {
  display: none;
}
#updateBeer {
  background-color: $accent-color;
  margin-bottom: 20px;
  margin-top: 20px;
}
.updateBeerForm {
  background-color: $accent-color;
}
.deleteBeer {
  margin: 10px;
}
#deleteBeer {
  margin: 10px;
}
