$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: rgb(0, 144, 172);
$font-color: #fff;
$white: #fff;
// rgb(233, 29, 99) pink
// rgb(0, 144, 172) blue

body {
  background-color: $background-color;
  color: $font-color;
}
.authforms {
  clear: both;
}
.errormsg {
  clear: both;
}
#change-password {
  display: none;
}
.signout-button {
  display: none;
}
#changepwbutton {
  display: none;
}
form {
  margin-bottom: 20px;
}
legend {
  background-color: $background-color;
  color: $font-color;
}
.button {
  background-color: $font-color;
  color: $background-color;
}
#changepwbutton {
  background-color: $font-color;
  color: $background-color;
}
#changepwbutton {
  background-color: $font-color;
  color: $background-color;
}
.signout-button {
  background-color: $font-color;
  color: $background-color;
}
input, select, textarea {
    color: black;
}
.changepwmsg {
  display: none;
}
.yourBeers {
  display: none;
}
