$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: rgb(0, 144, 172);
$font-color: #fff;
$error-font: red;
$white: #fff;
$accent-color: rgb(233, 29, 99);
// rgb(233, 29, 99) pink
// rgb(0, 144, 172) blue

body {
  background-color: $background-color;
  color: $font-color;
}

// NEW STUFF
.fill {
  height: 100%;
  min-height: 100%;
}

.navbar {
  background-color: $accent-color;
  border-radius: 0;
  margin-bottom: 0;
 }

// .navbar-inverse .navbar-brand:hover,
// .navbar-inverse .navbar-brand:focus {
//   background-color: transparent;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
// }

.navbar-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-item {
  color: white;
}

h1 {
  color: white;
  font-size: 16px;
  padding-right: 20px;
 }

.description {
  text-align: center;
}
.number-entry {
  max-width: 30px;
}
footer {
  background-color: $accent-color;
  clear: both;
  padding: 25px;
 }

.carousel-inner img {
  margin: auto;
  max-height: 240px;
  min-height: 150px;
  width: 100%;
}

@media (max-width: 600px) {
  .carousel-caption {
   display: none;
 }
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255,255,255,.8);
}

#login-dp .help-block{
  font-size: 12px
}

#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear: both;
  padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#create-account-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#create-account-dp .help-block{
    font-size:12px
}

#create-account-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#create-account-dp .form-group {
    margin-bottom: 10px;
}

.change-password-dp-nav {
  display: none;
}
#change-password-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#change-password-dp .help-block{
    font-size:12px
}
#change-password-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#change-password-dp .form-group {
    margin-bottom: 10px;
}
#log-out {
  display: none;
  border: none;
  min-width: 100px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: $accent-color;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#log-out .help-block{
    font-size:12px
}
#log-out .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#log-out .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    #create-account-dp{
        background-color: inherit;
        color: #fff;
    }
    #create-account-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    #change-password-dp{
        background-color: inherit;
        color: #fff;
    }
    #change-password-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

// OLD STUFF

.errormsg {
  clear: both;
  color: red;
}
.successmsg {
  clear: both;
  color: green;
}

form {
  margin-bottom: 20px;
}
legend {
  background-color: $background-color;
  color: $font-color;
}
input, select, textarea {
  color: black;
}
.changepwmsg {
  display: none;
  color: green;
}
.yourBeers {
  display: none;
}
.beerItem {
  font-size: 14px;
}
#addBeer {
  display: none;
}
.beerListTitle {
  display: none;
}
// #updateBeer {
//   margin-bottom: 20px;
//   margin-top: 20px;
// }
.updateBeerForm {
  background-color: $accent-color;
}
.deleteBeer {
  margin: 10px;
}
#deleteBeer {
  margin: 10px;
}
